<a href="https://colab.research.google.com/github/Ajinaparu/IRIS/blob/main/ANN_lung_cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
#TENSORFLOW
import tensorflow as tf
import numpy as np
import pandas as pd
df=pd.read_csv('/content/lung_cancer_examples.csv')
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [46]:
df=df.drop(['Name','Surname'],axis=1)
df

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

In [47]:
df.head()

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

In [48]:
df.tail()

    Age  Smokes  AreaQ  Alkhol  Result
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

In [49]:
df.columns

Index(['Age', 'Smokes', 'AreaQ', 'Alkhol', 'Result'], dtype='object')

In [50]:
df.shape

(59, 5)

In [51]:
df.size

295

In [52]:
df.isna().sum()

Age       0
Smokes    0
AreaQ     0
Alkhol    0
Result    0
dtype: int64

In [53]:
x=df.iloc[:,:-1].values
x

array([[35,  3,  5,  4],
       [27, 20,  2,  5],
       [30,  0,  5,  2],
       [28,  0,  8,  1],
       [68,  4,  5,  6],
       [34,  0, 10,  0],
       [58, 15, 10,  0],
       [22, 12,  5,  2],
       [45,  2,  6,  0],
       [52, 18,  4,  5],
       [33,  4,  8,  0],
       [18, 10,  6,  3],
       [25,  2,  5,  1],
       [28, 20,  2,  8],
       [34, 25,  4,  8],
       [39, 18,  8,  1],
       [42, 22,  3,  5],
       [19, 12,  8,  0],
       [62,  5,  4,  3],
       [73, 10,  7,  6],
       [55, 15,  1,  3],
       [33,  8,  8,  1],
       [22, 20,  6,  2],
       [44,  5,  8,  1],
       [77,  3,  2,  6],
       [21, 20,  5,  3],
       [37, 15,  6,  2],
       [34, 12,  8,  0],
       [55, 20,  1,  4],
       [40, 20,  2,  7],
       [36, 13,  5,  2],
       [56, 20,  3,  3],
       [47, 15,  1,  8],
       [62, 25,  3,  4],
       [26, 10,  7,  2],
       [25, 20,  8,  2],
       [59, 20,  3,  4],
       [62, 15,  5,  5],
       [33, 25,  8,  2],
       [37, 10,  5,  3],
       [50, 20,  2,  4],
       [47, 12,  8,  0],
       [69, 20,  5,  4],
       [63, 20,  4,  5],
       [39, 15,  7,  2],
       [21, 20,  8,  3],
       [31, 20,  9,  4],
       [28, 10,  4,  1],
       [53, 20,  6,  3],
       [62, 20,  5,  6],
       [42, 12,  6,  2],
       [44, 30,  1,  6],
       [26, 34,  1,  8],
       [35, 20,  5,  1],
       [26, 13,  6,  1],
       [77, 20,  5,  4],
       [75, 15,  3,  5],
       [43, 30,  3,  8],
       [51, 25,  9,  0]])

In [54]:
y=df.iloc[:,-1].values
y

array([1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0])

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [56]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [57]:
#INITIALIZATION OF ANN
ann=tf.keras.models.Sequential()

In [58]:
#FIRST HIDDEN LAYER
ann.add(tf.keras.layers.Dense(6,activation='relu'))

In [59]:
#SECOND HIDDEN LAYER
ann.add(tf.keras.layers.Dense(6,activation='relu'))

In [60]:
#OUT PUT LAYER
ann.add(tf.keras.layers.Dense(1,activation='sigmoid'))

In [61]:
#COMPILING ANN
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [62]:
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
2/2 [==============================] - 1s 6ms/step - loss: 0.6364 - accuracy: 0.8049
Epoch 2/100
2/2 [==============================] - 0s 9ms/step - loss: 0.6299 - accuracy: 0.8293
Epoch 3/100
2/2 [==============================] - 0s 7ms/step - loss: 0.6236 - accuracy: 0.8293
Epoch 4/100
2/2 [==============================] - 0s 7ms/step - loss: 0.6172 - accuracy: 0.8293
Epoch 5/100
2/2 [==============================] - 0s 6ms/step - loss: 0.6109 - accuracy: 0.8293
Epoch 6/100
2/2 [==============================] - 0s 6ms/step - loss: 0.6051 - accuracy: 0.8293
Epoch 7/100
2/2 [==============================] - 0s 7ms/step - loss: 0.5992 - accuracy: 0.8293
Epoch 8/100
2/2 [==============================] - 0s 7ms/step - loss: 0.5931 - accuracy: 0.8537
Epoch 9/100
2/2 [==============================] - 0s 9ms/step - loss: 0.5872 - accuracy: 0.8537
Epoch 10/100
2/2 [==============================] - 0s 9ms/step - loss: 0.5817 - accuracy: 0.8537
Epoch 11/100
2/2 [==============================] - 0s 9ms/step - loss: 0.5762 - accuracy: 0.9024
Epoch 12/100
2/2 [==============================] - 0s 6ms/step - loss: 0.5706 - accuracy: 0.9024
Epoch 13/100
2/2 [==============================] - 0s 7ms/step - loss: 0.5657 - accuracy: 0.9024
Epoch 14/100
2/2 [==============================] - 0s 7ms/step - loss: 0.5601 - accuracy: 0.9024
Epoch 15/100
2/2 [==============================] - 0s 6ms/step - loss: 0.5550 - accuracy: 0.9024
Epoch 16/100
2/2 [==============================] - 0s 7ms/step - loss: 0.5502 - accuracy: 0.9268
Epoch 17/100
2/2 [==============================] - 0s 7ms/step - loss: 0.5451 - accuracy: 0.9268
Epoch 18/100
2/2 [==============================] - 0s 6ms/step - loss: 0.5402 - accuracy: 0.9268
Epoch 19/100
2/2 [==============================] - 0s 6ms/step - loss: 0.5352 - accuracy: 0.9268
Epoch 20/100
2/2 [==============================] - 0s 4ms/step - loss: 0.5305 - accuracy: 0.9268
Epoch 21/100
2/2 [==============================] - 0s 6ms/step - loss: 0.5256 - accuracy: 0.9268
Epoch 22/100
2/2 [==============================] - 0s 6ms/step - loss: 0.5208 - accuracy: 0.9268
Epoch 23/100
2/2 [==============================] - 0s 9ms/step - loss: 0.5159 - accuracy: 0.9268
Epoch 24/100
2/2 [==============================] - 0s 10ms/step - loss: 0.5111 - accuracy: 0.9268
Epoch 25/100
2/2 [==============================] - 0s 6ms/step - loss: 0.5061 - accuracy: 0.9268
Epoch 26/100
2/2 [==============================] - 0s 6ms/step - loss: 0.5013 - accuracy: 0.9268
Epoch 27/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4962 - accuracy: 0.9268
Epoch 28/100
2/2 [==============================] - 0s 6ms/step - loss: 0.4914 - accuracy: 0.9268
Epoch 29/100
2/2 [==============================] - 0s 6ms/step - loss: 0.4864 - accuracy: 0.9268
Epoch 30/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4815 - accuracy: 0.9512
Epoch 31/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4765 - accuracy: 0.9512
Epoch 32/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4716 - accuracy: 0.9512
Epoch 33/100
2/2 [==============================] - 0s 6ms/step - loss: 0.4667 - accuracy: 0.9512
Epoch 34/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4617 - accuracy: 0.9512
Epoch 35/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4566 - accuracy: 0.9756
Epoch 36/100
2/2 [==============================] - 0s 7ms/step - loss: 0.4516 - accuracy: 0.9756
Epoch 37/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4466 - accuracy: 0.9756
Epoch 38/100
2/2 [==============================] - 0s 4ms/step - loss: 0.4414 - accuracy: 0.9756
Epoch 39/100
2/2 [==============================] - 0s 6ms/step - loss: 0.4363 - accuracy: 0.9756
Epoch 40/100
2/2 [==============================] - 0s 7ms/step - loss: 0.4312 - accuracy: 0.9756
Epoch 41/100
2/2 [==============================] - 0s 6ms/step - loss: 0.4262 - accuracy: 0.9756
Epoch 42/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4211 - accuracy: 0.9756
Epoch 43/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4162 - accuracy: 0.9756
Epoch 44/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4112 - accuracy: 0.9756
Epoch 45/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4063 - accuracy: 0.9756
Epoch 46/100
2/2 [==============================] - 0s 5ms/step - loss: 0.4013 - accuracy: 0.9756
Epoch 47/100
2/2 [==============================] - 0s 4ms/step - loss: 0.3964 - accuracy: 0.9756
Epoch 48/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3916 - accuracy: 0.9756
Epoch 49/100
2/2 [==============================] - 0s 6ms/step - loss: 0.3867 - accuracy: 0.9756
Epoch 50/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3818 - accuracy: 0.9756
Epoch 51/100
2/2 [==============================] - 0s 4ms/step - loss: 0.3772 - accuracy: 0.9756
Epoch 52/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3723 - accuracy: 0.9756
Epoch 53/100
2/2 [==============================] - 0s 4ms/step - loss: 0.3676 - accuracy: 0.9756
Epoch 54/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3629 - accuracy: 0.9756
Epoch 55/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3583 - accuracy: 0.9756
Epoch 56/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3537 - accuracy: 0.9756
Epoch 57/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3491 - accuracy: 0.9756
Epoch 58/100
2/2 [==============================] - 0s 4ms/step - loss: 0.3447 - accuracy: 0.9756
Epoch 59/100
2/2 [==============================] - 0s 4ms/step - loss: 0.3402 - accuracy: 0.9756
Epoch 60/100
2/2 [==============================] - 0s 4ms/step - loss: 0.3358 - accuracy: 0.9756
Epoch 61/100
2/2 [==============================] - 0s 4ms/step - loss: 0.3315 - accuracy: 0.9756
Epoch 62/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3272 - accuracy: 0.9756
Epoch 63/100
2/2 [==============================] - 0s 4ms/step - loss: 0.3228 - accuracy: 0.9756
Epoch 64/100
2/2 [==============================] - 0s 6ms/step - loss: 0.3186 - accuracy: 0.9756
Epoch 65/100
2/2 [==============================] - 0s 6ms/step - loss: 0.3145 - accuracy: 0.9756
Epoch 66/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3103 - accuracy: 0.9756
Epoch 67/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3062 - accuracy: 0.9756
Epoch 68/100
2/2 [==============================] - 0s 5ms/step - loss: 0.3021 - accuracy: 0.9756
Epoch 69/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2981 - accuracy: 0.9756
Epoch 70/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2941 - accuracy: 0.9756
Epoch 71/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2902 - accuracy: 0.9756
Epoch 72/100
2/2 [==============================] - 0s 4ms/step - loss: 0.2863 - accuracy: 1.0000
Epoch 73/100
2/2 [==============================] - 0s 4ms/step - loss: 0.2823 - accuracy: 1.0000
Epoch 74/100
2/2 [==============================] - 0s 6ms/step - loss: 0.2785 - accuracy: 1.0000
Epoch 75/100
2/2 [==============================] - 0s 6ms/step - loss: 0.2747 - accuracy: 1.0000
Epoch 76/100
2/2 [==============================] - 0s 7ms/step - loss: 0.2709 - accuracy: 1.0000
Epoch 77/100
2/2 [==============================] - 0s 6ms/step - loss: 0.2671 - accuracy: 1.0000
Epoch 78/100
2/2 [==============================] - 0s 4ms/step - loss: 0.2634 - accuracy: 1.0000
Epoch 79/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2598 - accuracy: 1.0000
Epoch 80/100
2/2 [==============================] - 0s 4ms/step - loss: 0.2562 - accuracy: 1.0000
Epoch 81/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2526 - accuracy: 1.0000
Epoch 82/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2491 - accuracy: 1.0000
Epoch 83/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2455 - accuracy: 1.0000
Epoch 84/100
2/2 [==============================] - 0s 4ms/step - loss: 0.2420 - accuracy: 1.0000
Epoch 85/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2384 - accuracy: 1.0000
Epoch 86/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2350 - accuracy: 1.0000
Epoch 87/100
2/2 [==============================] - 0s 4ms/step - loss: 0.2314 - accuracy: 1.0000
Epoch 88/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2280 - accuracy: 1.0000
Epoch 89/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2246 - accuracy: 1.0000
Epoch 90/100
2/2 [==============================] - 0s 4ms/step - loss: 0.2210 - accuracy: 1.0000
Epoch 91/100
2/2 [==============================] - 0s 6ms/step - loss: 0.2178 - accuracy: 1.0000
Epoch 92/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2145 - accuracy: 1.0000
Epoch 93/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2112 - accuracy: 1.0000
Epoch 94/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2079 - accuracy: 1.0000
Epoch 95/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2047 - accuracy: 1.0000
Epoch 96/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2017 - accuracy: 1.0000
Epoch 97/100
2/2 [==============================] - 0s 4ms/step - loss: 0.1985 - accuracy: 1.0000
Epoch 98/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1955 - accuracy: 1.0000
Epoch 99/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1926 - accuracy: 1.0000
Epoch 100/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1897 - accuracy: 1.0000

In [63]:
pred=ann.predict(scaler.transform([[30,0,5,2]]))
if(pred>0.5):
  print(1)
else:
  print(0)

1/1 [==============================] - 0s 41ms/step
0